/********        input-box        ********/
.input-container {
	width: 100%;
	font-size: 0px;
}

.function-box-container {
	width: 100%;
	height: 1.5rem;
	padding: .5rem 0;
	background: #eee;
	border-top: solid 1.5px #e4e4e4;
}

.function-box-container label {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.function-box-container label input {
	opacity: 0;
	font-size: 0;
	width: 0;
	height: 0;
	cursor: pointer;
}

#for-get-img {
	margin: 0 20px 0 20px;
	background-image: url(/../img/img-static.png);
}

#for-get-img:hover {
	background-image: url(/../img/img-active.png);
}

#for-get-img:active {
	background-image: url(/../img/img-active.png);
}

#for-deliver-file {
	background-image: url(/../img/file-static.png);
}

#for-deliver-file:hover {
	background-image: url(/../img/file-active.png);
}

#for-deliver-file:active {
	background-image: url(/../img/file-active.png);
}

.input-area {
	width: 100%;
	padding: .4rem;
	height: 4rem;
	resize: none;
	font-size: 1rem;
	word-break: break-all;
	border: 0;
	outline: 0;
	background-color: #eee;
}

.input-bottom-line {
	width: 100%;
	height: 2.4rem;
	background-color: #eee;
}

.input-send {
	float: right;
	margin-right: 10px;
	margin-top: .3rem;
	width: 6rem;
	height: 1.8rem;
	font-size: 1rem;
	background: #eee;
	color: #bbb;
	letter-spacing: 5px;
	text-align: center;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.personal-chat {
	opacity: 0;
	transition: opacity 1s;
}

.input-send:hover {
	background: #bfecec;
	color: #fff;
}

.input-send:click {
	background: #bfecec;
	color: #fff;
}
