* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	overflow-x: auto;
	overflow-y: auto;
	/*overflow: hidden;*/
}

.chatting {
	position: relative;
	margin: 0 auto;
	width: 80%;
	min-width: 1000px;
	height: 100%;
	/*border-right: 5px solid #eee;*/
	/*background-color: #eee;*/
}

/********  chat main container  ********/
.main-container {
	position: relative;
	background-color: #eee;
	height: 100%;
}

.chatting-title {
	/*width: 100%;*/
	height: 3rem;
	margin: 0 1rem;
	font-size: 1rem;
	text-align: center;
	line-height: 3rem;
	/*letter-spacing: 2px;*/
	background-color: #eee;
	border-bottom: solid #e4e4e4 1.5px;
}

#chatting-name {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-label {
	margin-left: 10px;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.users-line {
	display: none;
	position: absolute;
	max-height: 100px;
	width: 100%;
	overflow-y: auto;
	border-bottom: solid 2px #e4e4e4;
	text-align: center;
	background-color: #eee;
	z-index: 2;
}

.users-detail {
	margin: 1rem;
	display: inline-block;
	text-align: center;
}

.line-avatar {
	width: 2rem;
	height: 2rem;
}

.line-user-name {
	margin: 0 auto;
	font-size: .8rem;
	max-width: 5rem;
	word-break: break-all;
}

.whether-choose {
	position: absolute;
	top: 3rem;
	width: 100%;
	background-color: #eee;
	z-index: 1;
}

.chatting-container {
	width: 100%;
	height: auto;
	overflow-y: auto;
}

.chatting-box {
	 display: flex;
	 width: 100%;
	 margin: 10px 0;
}

.chatting-box .user-avatar {
	width: 2.8rem;
	height: 2.8rem;
}

.chatting-detail-container {
	display: relative;
}

.chatting-aside-container {
	overflow: hidden;
}

.chatting-nickname {
	font-size: .8rem;
	color: #bbb;
	max-width: 20rem;
}

.chatting-box-con {
	position: relative;
	font-size: 0;
}

.chatting-box-con div{
	display: inline-block;
	margin-top: 4px;
}

.chatting-right-triangle {
	position: absolute;
	top: 10px;
	display: inline-block;
	border-top: 8px solid transparent;
	border-right: 8px solid #fff;
	border-bottom: 8px solid transparent;
}

.chat-words-con {
	display: inline-block;
	display: inline-flex !important;
	max-width: 20rem;
	min-height: 2rem;
	padding: 5px;
	font-size: 1rem;
	letter-spacing: 2px;
	word-break: break-all;
	border-radius: 5px;
	background-color: #fff;
	align-items: center;
	box-shadow: 1px 1px 1px #eee;
}

.chat-words-con img {
	max-width: 20rem;
}

.chat-words-con a {
	display: inline-flex;
	align-items: center;
	color: #888;
	font-size: 1rem;
	text-decoration: none;
}

.chat-words-con a img {
	width: 4rem;
	margin-right: 5px;
}

.one-side {
	flex-direction: row-reverse;
}

.one-side .user-avatar {
	margin-left: 5px;
	margin-right: 10px;
}

.the-other-side .chat-words-con{
	margin-left: 8px;
}

.one-side .chatting-box-con{
	position: relative;
}

.one-side .chat-words-con{
	margin-right: 8px;
}

.the-other-side .user-avatar {
	margin-left: 10px;
	margin-right: 5px;
}

.one-side .chat-words-con {
	background-color: rgb(244,255,255);
}

.one-side .chatting-left-triangle {
	position: absolute;
	top: 25px;
	right: 0px;
	border-top: 8px solid transparent;
	border-left: 8px solid rgb(244,255,255);
	border-bottom: 8px solid transparent;
}

.one-side .chatting-nickname {
	float: right;
}

.one-side .chat-words-con {
	box-shadow: -1px 1px 1px #bbb;
}

.system-alert {
	margin: 1rem auto;
	padding: 0 auto;
	/*width: 40%;*/
	height: 1.6rem;
	line-height: 1.6rem;
	/*background-color: #bbb;*/
	color: #888;
	letter-spacing: 2px;
	font-size: 0.8rem;
	text-align: center;
	/*border-radius: 0.8rem;*/
	/*box-shadow: 1px 1px 1px #888;*/
}

.disappear {
	z-index: -1;
	display: none;
}
