/********  users list  ********/
.users-aside-container {
	display: inline-block;
	float: left;
	width: 25%;
	height: 100%;
	background: #2e3238;
}

/*.users-aside-container {

}*/

.my-detail {
	display: flex;
	margin: 20px 1rem;
	padding-bottom: 10px;
	align-items: center;
	height: 4rem;
	border-bottom: solid 1px #fff;
}

.users-room {
	cursor: pointer;
}

.my-avatar {
	margin-right: .5rem;
	width: 3.2rem;
	height: 3.2rem;
}

.my-name {
	font-size: 1.5rem;
	color: #fff;
}

.your-avatar {
	margin-right: .5rem;
	width: 2.8rem;
	height: 2.8rem;
}

.your-name {
	font-size: 1rem;
	color: #fff;
}

/*#3a3f45*/

.users-list {
	width: 100%;
	overflow-y: auto;
}

.users-room {
	display: flex;
	margin: 1rem;
	background-color: #2e3641;
	align-items: center;
}


.main-container {
	display: inline-block;
	float: right;
	width: 75%;
	overflow: hidden;
}
